body {
	background-image: url(../images/Hyrule.jpg);
	background-size: cover;
	overflow-y: hidden;
	overflow-x: hidden;
}

#container {
	width: 90%;
	height: 90%;
}

/*header*/
.header {
	font-family: 'Marcellus SC', serif;
	font-size: 50px;
	font-weight: bold;
	background-color: rgba(73,75,75,0.8);
	color: #d4ce46;
	padding: 10px;
	width: 330px;
	margin: 5px 0;
	position: relative;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#windcrest { 
	width: 100px;
	height: auto;
	position: absolute;
	top: 10px;
	right: 10px;
}

.instructions {
	font-family: 'Marcellus SC', serif;
	font-size: 20px;
	background-color: rgba(73,75,75,0.8);
	color: #d4ce46;
	padding: 10px;
	margin: 5px 0;
	width: 330px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

/*price section*/
.flowerPrice {
	font-family: 'Marcellus SC', serif;
	font-size: 25px;
	color: #d4ce46;
	padding: 20px 10px;
	margin: 5px 0;
	width: 330px;
	position: relative;
	background-color: rgba(14,81,53, 0.8);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#flower {
	width: 80px;
	height: auto;
	position: absolute;
	top: 10px;
	right: 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

/*score section*/
.scoreSection {
	font-family: 'Marcellus SC', serif;
	font-size: 25px;
	color: #d4ce46;
	padding: 20px 10px;
	width: 330px;
	position: relative;
	background-color: rgba(13,146,99, 0.8);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#pouch {
	width: 50px;
	height: auto;
	padding-right: 20px;
	position: absolute;
	top: 5px;
	right: 0;
}

/*win/losse*/
.status {
	font-family: 'Marcellus SC', serif;
	font-size: 20px;
	line-height: 25px;
	color: #494b4b;
	padding: 10px 10px;
	margin: 5px 0;
	width: 330px;
	background-color: rgba(212,206,70, 0.8);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

/*Rupees*/
#purple {
	width: 30px;
	height: auto;
	position: relative;
	left:900px;
	bottom: 280px;
	-webkit-transform: rotate(20deg);
}

#green {
	width: 80px;
	height: auto;
	position: relative;
	left: 580px;
	bottom: 80px;
	-webkit-transform: rotate(43deg);
}

#gold {width: 55px;
	height: auto;
	position: relative;
	left:930px;
	bottom: 110px;
	-webkit-transform: rotate(-30deg);
}

#blue {
	width: 20px;
	height: auto;
	position: relative;
	left:800px;
	bottom: 300px;
	-webkit-transform: rotate(7deg);
}

/*Footer*/
footer {
	font-family: 'Marcellus SC', serif;
	font-size: 12px;
	text-decoration: none;
	padding: 0 10px 5px 0;
	position: fixed;
	bottom: 0;
	right: 0;
}

a {
	text-decoration: underline;
	color: black;
}

@media only screen 
  	and (min-device-width: 375px) 
  	and (max-device-width: 667px) 
  	and (-webkit-min-device-pixel-ratio: 2) {

	body {
		background-image: url(../images/Hyrule2.jpg);
		background-repeat: no-repeat;
		background-size: 1200px 2000px;

		overflow-y: scroll;
		overflow-x: scroll;
	}

	.header {
		font-family: 'Marcellus SC', serif;
		font-size: 120px;
		font-weight: bold;
		background-color: rgba(73,75,75,0.8);
		color: #d4ce46;
		text-align: center;
		padding: 10px;
		width: 100%;
		position: relative;
		border-radius: 25px;
		margin: 10px 5%;
	}

	#windcrest { 
		width: 200px;
		height: auto;
		position: relative;
	}

	.instructions {
		font-family: 'Marcellus SC', serif;
		font-size: 60px;
		background-color: #d4ce46;
		color: rgba(73,75,75,0.8);
		padding: 10px;
		width: 100%;
		max-height: 300px;
		overflow-y: scroll;
		position: relative;
		border-radius: 25px;
		margin: 10px 5%;
	}

	.flowerPrice {
		font-family: 'Marcellus SC', serif;
		font-size: 50px;
		color: #d4ce46;
		padding: 20px 10px;
		margin: 5px 0;
		width: 40%;
		position: relative;
		background-color: rgba(14,81,53, 0.8);
		border-radius: 25px;
	}

	#flower {
		width: 80px;
		height: auto;
		position: absolute;
		top: 10px;
		right: 0;
		border-radius: 25px;
	}

	/*score section*/
	.scoreSection {
		font-family: 'Marcellus SC', serif;
		font-size: 50px;
		color: #d4ce46;
		padding: 20px 10px;
		width: 40%;
		position: relative;
		background-color: rgba(13,146,99, 0.8);
		border-radius: 25px;
	}

	#pouch {
		width: 50px;
		height: auto;
		padding-right: 20px;
		position: absolute;
		top: 5px;
		right: 0;
	}

	/*win/losse*/
	.status {
		font-family: 'Marcellus SC', serif;
		font-size: 50px;
		line-height: 75px;
		color: #494b4b;
		padding: 10px 10px;
		margin: 5px 0;
		width: 40%;
		background-color: rgba(212,206,70, 0.8);
		border-radius: 25px;
	}
	
}